.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.content {
  background-color: #282c34;
  min-height: 88vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 20em;
}

@media (max-aspect-ratio: 1/1) {
  .content {
    min-height: 60vh;
  }
}

.footer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-end;

  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  background: #282c34;
  height: 12vh;
}

/* Maximum aspect ratio */
@media (max-aspect-ratio: 1/1) {
  .footer {
    height: 40vh;
  }
}

.complete .App-logo img {
  animation: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.config {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

@media (max-aspect-ratio: 1/1) {
  .config {
    flex-flow: column wrap;
  }
}

.config > div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

@media (max-aspect-ratio: 1/1) {
  .config {
    flex-flow: column wrap;
  }
}

.config > div label {
  width: 4em;
}

.config > div button {
  margin: 0.25em 0.5em;
  padding: 0.25em 0.6em;
}

.grid {
  display: flex;
  flex-flow: row wrap;

  background: #445;
  border-radius: 5px;
  padding: 1vw;

  width: 66vw;
}

.cell {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  width: 20vw;
  height: 20vw;
  background: #556;
  border-radius: 5px;
  margin: 1vw;

  font-size: calc(10px + 1vmin);
}

.cell > div > span {
  word-break: break-all;
  padding-left: 1em;
}

.cell img {
  width: 50%;
  height: 50%;

  visibility: hidden;
}

.cell.hasResult img,
.cell img.running {
  visibility: visible;
}

.cell.hasResult img {
  animation: none;
}

.cell > div {
  width: 80%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
